.register-form-title-description {
	display: flex;
	flex-direction: column;
	gap: 10px;

	h1 {
		font-family: "Poppins", sans-serif;
		font-size: 32px;
		color: #0c1421;
		font-weight: 400;
	}

	p {
		font-family: "Poppins", sans-serif;
		font-size: 18px;
		color: #313957;
		font-weight: 400;
	}
}

.login-form {
	width: 100%;
	margin: 28px 0;
	display: flex;
	flex-direction: column;
	gap: 22px;
}

.wrap-input {
	display: flex;
	flex-direction: column;
	gap: 5px;

	span {
		font-size: 16px;
		font-weight: 400;
		color: #0c1421;
	}
}

.input {
	font-size: 15px;
	color: #8897ad;
	font-weight: 600;
	border: 1px solid #d4d7e3;
	border-radius: 12px;

	width: 100%;
	height: 45px;
	background-color: #f7fbff;
	padding: 0 5px;
}

input::placeholder {
	padding: 0 0 0 5px;
	font-weight: 200;
	color: #8897ad;
}

.line-container {
	display: flex;
	align-items: center;
	text-align: center;
	margin: 40px 0 0 0;
}

.line-container::before,
.line-container::after {
	content: "";
	flex: 1;
	border-bottom: 1px solid #cfdfe2;
}

.line-text {
	padding: 0 10px;
	color: #294957;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-image-footer {
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 12px;
}

.input-error {
	display: flex;
	margin: -55px 5px 13px 0;
	justify-content: flex-end;

	span {
		font-size: 12px;
		color: #edf2f7;
		background-color: #f56565;
		border-radius: 5px;
		padding: 3px;
	}
}

.Toastify__close-button--colored {
	width: auto !important;
	justify-content: end !important;
}

.register-return {
	display: flex;
	align-items: center;
	gap: 6px;
	color: #0c1421;
}
