.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
	background-color: #fff;
}

.container-image {
	background-image: url("../../assets/image.svg");
	background-size: cover;
	background-position: center;
	border-radius: 24px;
	margin: 20px;
}

.container-login {
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin: 42px 0 0 0;
}

.wrap-login {
	width: 370px;
	padding: 12px;
}
